input {
	border-width: 1;
	border-color: rgb(100,160,100);
}

textarea {
	border-color: rgb(100,160,100);
}

.colormain {
	background-color: rgb(40,140,120);
}

.coloradd {
	background-color: rgb(40,120,140);
}

.title-ish {
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}

.Amatic {
	font-family: 'Amatic SC', cursive;
}

.light {
	padding-top: -10px;
}

.bear {
	padding-top: 20px
}

.note {
	padding-top: 4px;
	background-color: rgb(40,130,130);
	margin-bottom: 6px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.icg {
	width: 40px;
	height: 40px;
}

.fin {
	text-decoration: line-through;
}

.dbut {
	width: 40px;
	height: 40px;
}

.butrow {
	margin-left: 270px;
	margin-right: 0px;
}

.rewr {
	width: 40px;
	height: 40px;
}