<<<<<<< HEAD
input {border-width: 1;
	border-color: rgb(100,160,100);}
textarea {border-color: rgb(100,160,100);}

.colormain {background-color: rgb(40,140,120);}
.coloradd {background-color: rgb(40,120,140);}
.title-ish {text-align: center;}
.Amatic {font-family: 'Amatic SC', cursive;}
.light {padding-top: -10px;}
.bear {padding-top: 20px}
.note {padding-top: 4px;}
=======
body {background-color: rgb(40,140,120);}
h1 {font-family: 'Amatic SC', cursive;}
p {font-family: cursive;
	font-size:120%;}
>>>>>>> e93d7b65e4363eef9fa3d1b80ece7257caf455f0
